SPS.MainView/Service References/SPUpdateUtilitiesService/SPUpdateUtilities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/">
      <s:element name="GetUpdateInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateInfoResult" type="tns:ArrayOfUpdateUtilitiesDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUpdateUtilitiesDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UpdateUtilitiesDTO" nillable="true" type="tns:UpdateUtilitiesDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UpdateUtilitiesDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UpdateID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateFileDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UpdateFileTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateFilename" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUpdateNotification">
        <s:complexType />
      </s:element>
      <s:element name="GetUpdateNotificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateNotificationResult" type="tns:UpdateUtilitiesDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGAVersionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gavNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGAVersionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGAVersionDataResult" type="tns:GAVVersionDataDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GAVVersionDataDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GAVNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GAVDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="GAVInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="schema_version" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateNotification" />
  </wsdl:message>
  <wsdl:message name="GetUpdateNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="GetGAVersionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetGAVersionData" />
  </wsdl:message>
  <wsdl:message name="GetGAVersionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetGAVersionDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SPUpdateUtilitiesSoap">
    <wsdl:operation name="GetUpdateInfo">
      <wsdl:input message="tns:GetUpdateInfoSoapIn" />
      <wsdl:output message="tns:GetUpdateInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateNotification">
      <wsdl:input message="tns:GetUpdateNotificationSoapIn" />
      <wsdl:output message="tns:GetUpdateNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGAVersionData">
      <wsdl:input message="tns:GetGAVersionDataSoapIn" />
      <wsdl:output message="tns:GetGAVersionDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPUpdateUtilitiesSoap" type="tns:SPUpdateUtilitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateInfo">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateNotification">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetUpdateNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGAVersionData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetGAVersionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPUpdateUtilitiesSoap12" type="tns:SPUpdateUtilitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateInfo">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateNotification">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetUpdateNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGAVersionData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPUpdateUtilities.asmx/GetGAVersionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPUpdateUtilities">
    <wsdl:port name="SPUpdateUtilitiesSoap" binding="tns:SPUpdateUtilitiesSoap">
      <soap:address location="http://localhost:44721/SPUpdateUtilities.asmx" />
    </wsdl:port>
    <wsdl:port name="SPUpdateUtilitiesSoap12" binding="tns:SPUpdateUtilitiesSoap12">
      <soap12:address location="http://localhost:44721/SPUpdateUtilities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>