SP.MA.ApplicantMng/Service References/EmployeeTaxInfoWebService/SPEmployeeTaxInfoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/">
      <s:element name="GetTaxInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTaxInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTaxInfoResult" type="tns:TaxDataDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaxDataDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfTaxDataItemDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTaxDataItemDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaxDataItemDTO" nillable="true" type="tns:TaxDataItemDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxDataItemDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Kanton" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gruppe" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Kinder" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Kirchensteuer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadTaxInfoData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTaxInfoDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTaxInfoDataResult" type="tns:TaxDataDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQstData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="einkommen" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="childern" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="qstGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kirchsteuer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="geschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQstDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQstDataResult" type="tns:ArrayOfQstDataDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQstDataDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QstDataDTO" nillable="true" type="tns:QstDataDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QstDataDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Mindest_Abzug" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Steuer_Proz" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Einkommen" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Schritt" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadAllowedQstCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="einkommen" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="childern" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="qstGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kirchsteuer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="geschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAllowedQstCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadAllowedQstCodeResult" type="tns:QstDataAllowedDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QstDataAllowedDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsQstDataAllowed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetIsAllowedQstCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="einkommen" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="childern" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="qstGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="kirchsteuer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="geschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIsAllowedQstCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIsAllowedQstCodeResult" type="tns:QstDataAllowedDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadChildEducationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="canton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadChildEducationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadChildEducationDataResult" type="tns:ChildEducationDataDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChildEducationDataDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MDYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FAK_Kanton" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fak_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fak_ZHD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fak_Postfach" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fak_Strasse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fak_PLZOrt" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="YMinLohn" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki1_Month" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki2_Month" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Au1_Month" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki1_Std" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki2_Std" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki1_Day" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki2_Day" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeKiIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeKiIn_2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Au1_Std" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Au2_Std" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Au1_Day" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Au2_Day" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeAuIn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangeAuIn_2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedFrom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangedOn" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangedFrom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki1_FakMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ki2_FakMax" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Fak_Proz" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Geb_Zulage" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Ado_Zulage" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Bemerkung_1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bemerkung_2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bemerkung_3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bemerkung_4" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTaxInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTaxInfo" />
  </wsdl:message>
  <wsdl:message name="GetTaxInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTaxInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTaxInfoDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTaxInfoData" />
  </wsdl:message>
  <wsdl:message name="LoadTaxInfoDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTaxInfoDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetQstDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetQstData" />
  </wsdl:message>
  <wsdl:message name="GetQstDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetQstDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAllowedQstCodeSoapIn">
    <wsdl:part name="parameters" element="tns:LoadAllowedQstCode" />
  </wsdl:message>
  <wsdl:message name="LoadAllowedQstCodeSoapOut">
    <wsdl:part name="parameters" element="tns:LoadAllowedQstCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetIsAllowedQstCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetIsAllowedQstCode" />
  </wsdl:message>
  <wsdl:message name="GetIsAllowedQstCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetIsAllowedQstCodeResponse" />
  </wsdl:message>
  <wsdl:message name="LoadChildEducationDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadChildEducationData" />
  </wsdl:message>
  <wsdl:message name="LoadChildEducationDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadChildEducationDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SPEmployeeTaxInfoServiceSoap">
    <wsdl:operation name="GetTaxInfo">
      <wsdl:input message="tns:GetTaxInfoSoapIn" />
      <wsdl:output message="tns:GetTaxInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTaxInfoData">
      <wsdl:input message="tns:LoadTaxInfoDataSoapIn" />
      <wsdl:output message="tns:LoadTaxInfoDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Datasetversion: Zur Auflistung der Quellensteuerdaten auf der Client</wsdl:documentation>
      <wsdl:input message="tns:GetQstDataSoapIn" />
      <wsdl:output message="tns:GetQstDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadAllowedQstCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test ob der eingetragene QST-Code korrekt ist</wsdl:documentation>
      <wsdl:input message="tns:LoadAllowedQstCodeSoapIn" />
      <wsdl:output message="tns:LoadAllowedQstCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIsAllowedQstCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Test ob der eingetragene QST-Code korrekt ist</wsdl:documentation>
      <wsdl:input message="tns:GetIsAllowedQstCodeSoapIn" />
      <wsdl:output message="tns:GetIsAllowedQstCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadChildEducationData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Kinder und Ausbildungszulagen auf der Client</wsdl:documentation>
      <wsdl:input message="tns:LoadChildEducationDataSoapIn" />
      <wsdl:output message="tns:LoadChildEducationDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPEmployeeTaxInfoServiceSoap" type="tns:SPEmployeeTaxInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxInfo">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetTaxInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTaxInfoData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadTaxInfoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetQstData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllowedQstCode">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadAllowedQstCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsAllowedQstCode">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetIsAllowedQstCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadChildEducationData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadChildEducationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPEmployeeTaxInfoServiceSoap12" type="tns:SPEmployeeTaxInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTaxInfo">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetTaxInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTaxInfoData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadTaxInfoData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetQstData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAllowedQstCode">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadAllowedQstCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsAllowedQstCode">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/GetIsAllowedQstCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadChildEducationData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPEmployeeTaxInfoService.asmx/LoadChildEducationData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPEmployeeTaxInfoService">
    <wsdl:port name="SPEmployeeTaxInfoServiceSoap" binding="tns:SPEmployeeTaxInfoServiceSoap">
      <soap:address location="http://localhost/wsSPS_services/SPEmployeeTaxInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="SPEmployeeTaxInfoServiceSoap12" binding="tns:SPEmployeeTaxInfoServiceSoap12">
      <soap12:address location="http://localhost/wsSPS_services/SPEmployeeTaxInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>