SP.KD.CustomerMng/Service References/SPCustomerPaymentServicesWebService/SPCustomerPaymentServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx/">
      <s:element name="LogSolvencyCheckUsage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="solvencyCheckType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="serviceDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogSolvencyCheckUsageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LogSolvencyCheckUsageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogSolvencyCheckUsageSoapIn">
    <wsdl:part name="parameters" element="tns:LogSolvencyCheckUsage" />
  </wsdl:message>
  <wsdl:message name="LogSolvencyCheckUsageSoapOut">
    <wsdl:part name="parameters" element="tns:LogSolvencyCheckUsageResponse" />
  </wsdl:message>
  <wsdl:portType name="SPCustomerPaymentServicesSoap">
    <wsdl:operation name="LogSolvencyCheckUsage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logt die Verwendung von Solvenzprüfungen.</wsdl:documentation>
      <wsdl:input message="tns:LogSolvencyCheckUsageSoapIn" />
      <wsdl:output message="tns:LogSolvencyCheckUsageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPCustomerPaymentServicesSoap" type="tns:SPCustomerPaymentServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogSolvencyCheckUsage">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx/LogSolvencyCheckUsage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPCustomerPaymentServicesSoap12" type="tns:SPCustomerPaymentServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogSolvencyCheckUsage">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPCustomerPaymentServices.asmx/LogSolvencyCheckUsage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPCustomerPaymentServices">
    <wsdl:port name="SPCustomerPaymentServicesSoap" binding="tns:SPCustomerPaymentServicesSoap">
      <soap:address location="http://localhost:44721/SPCustomerPaymentServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SPCustomerPaymentServicesSoap12" binding="tns:SPCustomerPaymentServicesSoap12">
      <soap12:address location="http://localhost:44721/SPCustomerPaymentServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>