SPServiceUtil/Web References/SP_ServiceUtil/SPServiceUtil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx">
      <s:element name="SaveUserData2WSDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveUserData2WSDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveUserData2WSDbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQstData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKanton" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cEinkommen" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="iKinder" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strGruppe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGeschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQstDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQstDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountrylist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCountryCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountrylistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountrylistResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBankData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBCNr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iYear" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cEinkommen" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="iKinder" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strGruppe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGeschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBankDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBankDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGeschlecht" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJobDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJobDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveUserData2WSDbSoapIn">
    <wsdl:part name="parameters" element="tns:SaveUserData2WSDb" />
  </wsdl:message>
  <wsdl:message name="SaveUserData2WSDbSoapOut">
    <wsdl:part name="parameters" element="tns:SaveUserData2WSDbResponse" />
  </wsdl:message>
  <wsdl:message name="GetQstDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetQstData" />
  </wsdl:message>
  <wsdl:message name="GetQstDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetQstDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountrylistSoapIn">
    <wsdl:part name="parameters" element="tns:GetCountrylist" />
  </wsdl:message>
  <wsdl:message name="GetCountrylistSoapOut">
    <wsdl:part name="parameters" element="tns:GetCountrylistResponse" />
  </wsdl:message>
  <wsdl:message name="GetBankDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetBankData" />
  </wsdl:message>
  <wsdl:message name="GetBankDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetBankDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetJobDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetJobData" />
  </wsdl:message>
  <wsdl:message name="GetJobDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetJobDataResponse" />
  </wsdl:message>
  <wsdl:portType name="SPServiceUtilSoap">
    <wsdl:operation name="SaveUserData2WSDb">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Die Benutzerdaten werden in Datenbank registrieren</wsdl:documentation>
      <wsdl:input message="tns:SaveUserData2WSDbSoapIn" />
      <wsdl:output message="tns:SaveUserData2WSDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Datasetversion: Zur Auflistung der Quellensteuerdaten auf der Client</wsdl:documentation>
      <wsdl:input message="tns:GetQstDataSoapIn" />
      <wsdl:output message="tns:GetQstDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountrylist">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Datasetversion: Zur Auflistung der Ländertabelle auf der Client</wsdl:documentation>
      <wsdl:input message="tns:GetCountrylistSoapIn" />
      <wsdl:output message="tns:GetCountrylistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBankData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Datasetversion: Zur Auflistung der Bankdaten auf der Client</wsdl:documentation>
      <wsdl:input message="tns:GetBankDataSoapIn" />
      <wsdl:output message="tns:GetBankDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJobData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Datasetversion: Zur Auflistung der Berufdaten auf der Client</wsdl:documentation>
      <wsdl:input message="tns:GetJobDataSoapIn" />
      <wsdl:output message="tns:GetJobDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPServiceUtilSoap" type="tns:SPServiceUtilSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveUserData2WSDb">
      <soap:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/SaveUserData2WSDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <soap:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetQstData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountrylist">
      <soap:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetCountrylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankData">
      <soap:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetBankData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobData">
      <soap:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetJobData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPServiceUtilSoap12" type="tns:SPServiceUtilSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveUserData2WSDb">
      <soap12:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/SaveUserData2WSDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQstData">
      <soap12:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetQstData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountrylist">
      <soap12:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetCountrylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankData">
      <soap12:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetBankData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobData">
      <soap12:operation soapAction="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx/GetJobData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPServiceUtil">
    <wsdl:port name="SPServiceUtilSoap" binding="tns:SPServiceUtilSoap">
      <soap:address location="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx" />
    </wsdl:port>
    <wsdl:port name="SPServiceUtilSoap12" binding="tns:SPServiceUtilSoap12">
      <soap12:address location="http://asmx.domain.com/spgav_services/SPServiceUtil.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>