Tools/SP.ApplicationMng/Service References/ExternalVacancyService/SPVacancyServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/">
      <s:element name="ListVacancyTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyTitleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListVacancyRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyRegionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyBranch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyBranchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyBranchResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyCityResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyCanton">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyCantonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyCantonResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyGroupResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySubGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySubGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancySubGroupResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySubGroupAssignedGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vacancyGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySubGroupAssignedGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancySubGroupAssignedGroupResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySector">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySectorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancySectorResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySlogan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancySloganResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancySloganResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qualification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKanton" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branchOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vacancyGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="employment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobDisipline" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobPosition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacanciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacanciesResult" type="tns:ArrayOfKDVakanzenDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKDVakanzenDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KDVakanzenDTO" nillable="true" type="tns:KDVakanzenDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KDVakanzenDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RecID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VakNr" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KDNr" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KDZHDNr" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Strasse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Ort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_eMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Berater" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filiale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VakKontakt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VakState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bezeichnung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitelForSearch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShortDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Slogan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gruppe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubGroup" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExistLink" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VakLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Beginn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobProzent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anstellung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dauer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAAge" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MASex" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAZivil" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MALohn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jobtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobOrt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAFSchein" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MAAuto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MANationality" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IEExport" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="KDBeschreibung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KDBietet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SBeschreibung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reserve1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Taetigkeit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Anforderung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reserve2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reserve3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ausbildung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Weiterbildung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKennt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EDVKennt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_KDBeschreibung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_KDBietet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_SBeschreibung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Reserve1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Taetigkeit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Anforderung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Reserve2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Reserve3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Ausbildung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_Weiterbildung" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_SKennt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="html_EDVKennt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Branchen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedFrom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChangedOn" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangedFrom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transfered_User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Transfered_On" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Transfered_Guid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vak_Region" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vak_Kanton" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Nachname_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Vorname_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Telefon_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Telefax_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_eMail_OLD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSprachen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SSprachen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Qualifikation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SQualifikation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Guid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JobPLZ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Categories" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Disciplines" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Position" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Job_Disciplines_Match" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vak_Region_Match" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Telefon" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Picture" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="IsJobsCHOnline" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOstJobOnline" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="JobChannelPriority" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSelectedVacancy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectedVacancyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelectedVacancyResult" type="tns:ArrayOfKDVakanzenDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectedVacancyWithVacancyNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWosID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vacancyNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectedVacancyWithVacancyNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelectedVacancyWithVacancyNumberResult" type="tns:ArrayOfKDVakanzenDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAssignedVacancyWithCustomerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vacancyNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAssignedVacancyWithCustomerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadAssignedVacancyWithCustomerIDResult" type="tns:ArrayOfKDVakanzenDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyJobCategoryResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobDisciplines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobCategories" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobDisciplinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyJobDisciplinesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobPositions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jobDiscipline" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListVacancyJobPositionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListVacancyJobPositionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListVacancyTitleSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyTitle" />
  </wsdl:message>
  <wsdl:message name="ListVacancyTitleSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyRegionSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyRegion" />
  </wsdl:message>
  <wsdl:message name="ListVacancyRegionSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyRegionResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyBranchSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyBranch" />
  </wsdl:message>
  <wsdl:message name="ListVacancyBranchSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyBranchResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyCitySoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyCity" />
  </wsdl:message>
  <wsdl:message name="ListVacancyCitySoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyCityResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyCantonSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyCanton" />
  </wsdl:message>
  <wsdl:message name="ListVacancyCantonSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyCantonResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyGroup" />
  </wsdl:message>
  <wsdl:message name="ListVacancyGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancySubGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancySubGroup" />
  </wsdl:message>
  <wsdl:message name="ListVacancySubGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancySubGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancySubGroupAssignedGroupSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancySubGroupAssignedGroup" />
  </wsdl:message>
  <wsdl:message name="ListVacancySubGroupAssignedGroupSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancySubGroupAssignedGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancySectorSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancySector" />
  </wsdl:message>
  <wsdl:message name="ListVacancySectorSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancySectorResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancySloganSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancySlogan" />
  </wsdl:message>
  <wsdl:message name="ListVacancySloganSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancySloganResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacanciesSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancies" />
  </wsdl:message>
  <wsdl:message name="ListVacanciesSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacanciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectedVacancySoapIn">
    <wsdl:part name="parameters" element="tns:GetSelectedVacancy" />
  </wsdl:message>
  <wsdl:message name="GetSelectedVacancySoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectedVacancyResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectedVacancyWithVacancyNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelectedVacancyWithVacancyNumber" />
  </wsdl:message>
  <wsdl:message name="GetSelectedVacancyWithVacancyNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectedVacancyWithVacancyNumberResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAssignedVacancyWithCustomerIDSoapIn">
    <wsdl:part name="parameters" element="tns:LoadAssignedVacancyWithCustomerID" />
  </wsdl:message>
  <wsdl:message name="LoadAssignedVacancyWithCustomerIDSoapOut">
    <wsdl:part name="parameters" element="tns:LoadAssignedVacancyWithCustomerIDResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobCategorySoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyJobCategory" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobCategorySoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyJobCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobDisciplinesSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyJobDisciplines" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobDisciplinesSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyJobDisciplinesResponse" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobPositionsSoapIn">
    <wsdl:part name="parameters" element="tns:ListVacancyJobPositions" />
  </wsdl:message>
  <wsdl:message name="ListVacancyJobPositionsSoapOut">
    <wsdl:part name="parameters" element="tns:ListVacancyJobPositionsResponse" />
  </wsdl:message>
  <wsdl:portType name="SPVacancyServicesSoap">
    <wsdl:operation name="ListVacancyTitle">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Berufe (Titel)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyTitleSoapIn" />
      <wsdl:output message="tns:ListVacancyTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyRegion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Regionen (Region)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyRegionSoapIn" />
      <wsdl:output message="tns:ListVacancyRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyBranch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Filiale (Filiale)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyBranchSoapIn" />
      <wsdl:output message="tns:ListVacancyBranchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCity">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Ort (Ort)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyCitySoapIn" />
      <wsdl:output message="tns:ListVacancyCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCanton">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Kanton (Vak_Kanton)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyCantonSoapIn" />
      <wsdl:output message="tns:ListVacancyCantonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Gruppe (Gruppe)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyGroupSoapIn" />
      <wsdl:output message="tns:ListVacancyGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-SubGruppe (SubGroup)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancySubGroupSoapIn" />
      <wsdl:output message="tns:ListVacancySubGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroupAssignedGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-SubGruppe anhand einer Grouppe (SubGroup)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancySubGroupAssignedGroupSoapIn" />
      <wsdl:output message="tns:ListVacancySubGroupAssignedGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancySector">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Branchen (Branchen)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancySectorSoapIn" />
      <wsdl:output message="tns:ListVacancySectorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancySlogan">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-sologan (werbeschlagwort)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancySloganSoapIn" />
      <wsdl:output message="tns:ListVacancySloganSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancies">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen (Alle Datensätze)</wsdl:documentation>
      <wsdl:input message="tns:ListVacanciesSoapIn" />
      <wsdl:output message="tns:ListVacanciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung eines Datensatzes anhand eines ID in Form von Objekt</wsdl:documentation>
      <wsdl:input message="tns:GetSelectedVacancySoapIn" />
      <wsdl:output message="tns:GetSelectedVacancySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancyWithVacancyNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung eines Datensatzes anhand einer Vakanzennummer in Form von Objekt</wsdl:documentation>
      <wsdl:input message="tns:GetSelectedVacancyWithVacancyNumberSoapIn" />
      <wsdl:output message="tns:GetSelectedVacancyWithVacancyNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadAssignedVacancyWithCustomerID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung eines Datensatzes anhand einer Vakanzennummer in Form von Objekt</wsdl:documentation>
      <wsdl:input message="tns:LoadAssignedVacancyWithCustomerIDSoapIn" />
      <wsdl:output message="tns:LoadAssignedVacancyWithCustomerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobCategory">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Berufsgruppen (Berufgruppe)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyJobCategorySoapIn" />
      <wsdl:output message="tns:ListVacancyJobCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobDisciplines">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Beruf-Fachrichtigungen (Fachrichtung)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyJobDisciplinesSoapIn" />
      <wsdl:output message="tns:ListVacancyJobDisciplinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobPositions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Zur Auflistung der Vakanzen-Beruf-Position (Berufposition)</wsdl:documentation>
      <wsdl:input message="tns:ListVacancyJobPositionsSoapIn" />
      <wsdl:output message="tns:ListVacancyJobPositionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPVacancyServicesSoap" type="tns:SPVacancyServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListVacancyTitle">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyRegion">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyBranch">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCity">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCanton">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyCanton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyGroup">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroup">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySubGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroupAssignedGroup">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySubGroupAssignedGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySector">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySlogan">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySlogan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancies">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancy">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/GetSelectedVacancy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancyWithVacancyNumber">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/GetSelectedVacancyWithVacancyNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAssignedVacancyWithCustomerID">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/LoadAssignedVacancyWithCustomerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobCategory">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobDisciplines">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobDisciplines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobPositions">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPVacancyServicesSoap12" type="tns:SPVacancyServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListVacancyTitle">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyRegion">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyBranch">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyBranch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCity">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyCanton">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyCanton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyGroup">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroup">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySubGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySubGroupAssignedGroup">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySubGroupAssignedGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySector">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancySlogan">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancySlogan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancies">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancy">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/GetSelectedVacancy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectedVacancyWithVacancyNumber">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/GetSelectedVacancyWithVacancyNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAssignedVacancyWithCustomerID">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/LoadAssignedVacancyWithCustomerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobCategory">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobDisciplines">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobDisciplines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListVacancyJobPositions">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/externalservices/SPVacancyServices.asmx/ListVacancyJobPositions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPVacancyServices">
    <wsdl:port name="SPVacancyServicesSoap" binding="tns:SPVacancyServicesSoap">
      <soap:address location="http://localhost/wsSPS_services/externalservices/SPVacancyServices.asmx" />
    </wsdl:port>
    <wsdl:port name="SPVacancyServicesSoap12" binding="tns:SPVacancyServicesSoap12">
      <soap12:address location="http://localhost/wsSPS_services/externalservices/SPVacancyServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>