SP.Vacancies.Intern/Service References/InternVacancyService/SPInternVacancies1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBerufeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBerufeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHBerufeDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVacancyJobCHPeripheryDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VacancyJobCHPeripheryDTO" nillable="true" type="tns:VacancyJobCHPeripheryDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="VacancyJobCHPeripheryDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Parent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RecNr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TranslatedLabel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadJobCHFachbereichData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHFachbereichDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHFachbereichDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHRegionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHRegionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHRegionDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBranchenData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBranchenDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHBranchenDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHLanguageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHLanguageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHLanguageDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHLanguageNiveauData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHLanguageNiveauDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHLanguageNiveauDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHPositionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHPositionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHPositionDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBildungNiveauData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadJobCHBildungNiveauDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadJobCHBildungNiveauDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAVAMEducationData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadAVAMEducationDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadAVAMEducationDataResult" type="tns:ArrayOfVacancyJobCHPeripheryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadSTMPAllJobTitleData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobNumber" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadSTMPAllJobTitleDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadSTMPAllJobTitleDataResult" type="tns:ArrayOfSTMPJobData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTMPJobData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STMPJobData" nillable="true" type="tns:STMPJobData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STMPJobData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleNumber" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Bez_DE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bez_FR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bez_IT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bez_Translated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group_DE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group_FR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group_IT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group_Translated" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Notifiable" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadOccupation2020Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobNumber" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadOccupation2020DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadOccupation2020DataResult" type="tns:ArrayOfSTMPJobData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadOccupation2021Data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobNumber" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadOccupation2021DataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadOccupation2021DataResult" type="tns:ArrayOfSTMPJobData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadOccupationMappingData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jobNumber" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadOccupationMappingDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadOccupationMappingDataResult" type="tns:ArrayOfSTMPMappingData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTMPMappingData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STMPMappingData" nillable="true" type="tns:STMPMappingData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STMPMappingData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="OLD_AVAMNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="New_AVAMNumber" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OLD_Bez_Translated" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="New_Bez_Translated" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAVAMCreationDataToDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vacancyNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="jobRoomID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queryContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="syncFrom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportingObligation" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportingObligationEndDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Notify" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAVAMCreationDataToDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAVAMCreationDataToDatabaseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAVAMQueryResultDataToDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="vacancyNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="jobRoomID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queryContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="resultContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="syncFrom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportingObligation" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="ReportingObligationEndDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAVAMQueryResultDataToDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAVAMQueryResultDataToDatabaseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAssignedVacancyForInternalJobplattform">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customerWOSID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CustomerData" type="tns:CustomerUserData" />
            <s:element minOccurs="0" maxOccurs="1" name="vacancyData">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerUserData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer_VacancyNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_EmployeeNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_CustomerNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Telefax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_eMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Customer_Homepage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Telephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Telefax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_eMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Homepage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Filiale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Initial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Salution" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Loged_UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Loged_UserGuid" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAssignedVacancyForInternalJobplattformResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddAssignedVacancyForInternalJobplattformResult" type="tns:WebServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="JobResult" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="JobResultMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBerufeDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHBerufeData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBerufeDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHBerufeDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHFachbereichDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHFachbereichData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHFachbereichDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHFachbereichDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHRegionDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHRegionData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHRegionDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHRegionDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBranchenDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHBranchenData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBranchenDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHBranchenDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHLanguageDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHLanguageData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHLanguageDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHLanguageDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHLanguageNiveauDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHLanguageNiveauData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHLanguageNiveauDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHLanguageNiveauDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHPositionDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHPositionData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHPositionDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHPositionDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBildungNiveauDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadJobCHBildungNiveauData" />
  </wsdl:message>
  <wsdl:message name="LoadJobCHBildungNiveauDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadJobCHBildungNiveauDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadAVAMEducationDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadAVAMEducationData" />
  </wsdl:message>
  <wsdl:message name="LoadAVAMEducationDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadAVAMEducationDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadSTMPAllJobTitleDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadSTMPAllJobTitleData" />
  </wsdl:message>
  <wsdl:message name="LoadSTMPAllJobTitleDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadSTMPAllJobTitleDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadOccupation2020DataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadOccupation2020Data" />
  </wsdl:message>
  <wsdl:message name="LoadOccupation2020DataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadOccupation2020DataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadOccupation2021DataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadOccupation2021Data" />
  </wsdl:message>
  <wsdl:message name="LoadOccupation2021DataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadOccupation2021DataResponse" />
  </wsdl:message>
  <wsdl:message name="LoadOccupationMappingDataSoapIn">
    <wsdl:part name="parameters" element="tns:LoadOccupationMappingData" />
  </wsdl:message>
  <wsdl:message name="LoadOccupationMappingDataSoapOut">
    <wsdl:part name="parameters" element="tns:LoadOccupationMappingDataResponse" />
  </wsdl:message>
  <wsdl:message name="AddAVAMCreationDataToDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:AddAVAMCreationDataToDatabase" />
  </wsdl:message>
  <wsdl:message name="AddAVAMCreationDataToDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:AddAVAMCreationDataToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="AddAVAMQueryResultDataToDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:AddAVAMQueryResultDataToDatabase" />
  </wsdl:message>
  <wsdl:message name="AddAVAMQueryResultDataToDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:AddAVAMQueryResultDataToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="AddAssignedVacancyForInternalJobplattformSoapIn">
    <wsdl:part name="parameters" element="tns:AddAssignedVacancyForInternalJobplattform" />
  </wsdl:message>
  <wsdl:message name="AddAssignedVacancyForInternalJobplattformSoapOut">
    <wsdl:part name="parameters" element="tns:AddAssignedVacancyForInternalJobplattformResponse" />
  </wsdl:message>
  <wsdl:portType name="SPInternVacanciesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBerufeData">
      <wsdl:input message="tns:LoadJobCHBerufeDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHBerufeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHFachbereichData">
      <wsdl:input message="tns:LoadJobCHFachbereichDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHFachbereichDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHRegionData">
      <wsdl:input message="tns:LoadJobCHRegionDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHRegionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBranchenData">
      <wsdl:input message="tns:LoadJobCHBranchenDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHBranchenDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageData">
      <wsdl:input message="tns:LoadJobCHLanguageDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHLanguageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageNiveauData">
      <wsdl:input message="tns:LoadJobCHLanguageNiveauDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHLanguageNiveauDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHPositionData">
      <wsdl:input message="tns:LoadJobCHPositionDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHPositionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBildungNiveauData">
      <wsdl:input message="tns:LoadJobCHBildungNiveauDataSoapIn" />
      <wsdl:output message="tns:LoadJobCHBildungNiveauDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadAVAMEducationData">
      <wsdl:input message="tns:LoadAVAMEducationDataSoapIn" />
      <wsdl:output message="tns:LoadAVAMEducationDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadSTMPAllJobTitleData">
      <wsdl:input message="tns:LoadSTMPAllJobTitleDataSoapIn" />
      <wsdl:output message="tns:LoadSTMPAllJobTitleDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2020Data">
      <wsdl:input message="tns:LoadOccupation2020DataSoapIn" />
      <wsdl:output message="tns:LoadOccupation2020DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2021Data">
      <wsdl:input message="tns:LoadOccupation2021DataSoapIn" />
      <wsdl:output message="tns:LoadOccupation2021DataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadOccupationMappingData">
      <wsdl:input message="tns:LoadOccupationMappingDataSoapIn" />
      <wsdl:output message="tns:LoadOccupationMappingDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAVAMCreationDataToDatabase">
      <wsdl:input message="tns:AddAVAMCreationDataToDatabaseSoapIn" />
      <wsdl:output message="tns:AddAVAMCreationDataToDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAVAMQueryResultDataToDatabase">
      <wsdl:input message="tns:AddAVAMQueryResultDataToDatabaseSoapIn" />
      <wsdl:output message="tns:AddAVAMQueryResultDataToDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddAssignedVacancyForInternalJobplattform">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Speichert Vakanzdaten in die interne Datenbanken.</wsdl:documentation>
      <wsdl:input message="tns:AddAssignedVacancyForInternalJobplattformSoapIn" />
      <wsdl:output message="tns:AddAssignedVacancyForInternalJobplattformSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPInternVacanciesSoap" type="tns:SPInternVacanciesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBerufeData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBerufeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHFachbereichData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHFachbereichData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHRegionData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHRegionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBranchenData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBranchenData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHLanguageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageNiveauData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHLanguageNiveauData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHPositionData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHPositionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBildungNiveauData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBildungNiveauData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAVAMEducationData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadAVAMEducationData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSTMPAllJobTitleData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadSTMPAllJobTitleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2020Data">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupation2020Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2021Data">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupation2021Data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupationMappingData">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupationMappingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAVAMCreationDataToDatabase">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAVAMCreationDataToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAVAMQueryResultDataToDatabase">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAVAMQueryResultDataToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignedVacancyForInternalJobplattform">
      <soap:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAssignedVacancyForInternalJobplattform" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPInternVacanciesSoap12" type="tns:SPInternVacanciesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBerufeData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBerufeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHFachbereichData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHFachbereichData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHRegionData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHRegionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBranchenData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBranchenData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHLanguageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHLanguageNiveauData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHLanguageNiveauData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHPositionData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHPositionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadJobCHBildungNiveauData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadJobCHBildungNiveauData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadAVAMEducationData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadAVAMEducationData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadSTMPAllJobTitleData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadSTMPAllJobTitleData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2020Data">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupation2020Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupation2021Data">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupation2021Data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadOccupationMappingData">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/LoadOccupationMappingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAVAMCreationDataToDatabase">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAVAMCreationDataToDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAVAMQueryResultDataToDatabase">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAVAMQueryResultDataToDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAssignedVacancyForInternalJobplattform">
      <soap12:operation soapAction="http://asmx.domain.com/wsSPS_services/SPInternVacancies.asmx/AddAssignedVacancyForInternalJobplattform" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPInternVacancies">
    <wsdl:port name="SPInternVacanciesSoap" binding="tns:SPInternVacanciesSoap">
      <soap:address location="http://localhost/wssps_services/SPInternVacancies.asmx" />
    </wsdl:port>
    <wsdl:port name="SPInternVacanciesSoap12" binding="tns:SPInternVacanciesSoap12">
      <soap12:address location="http://localhost/wssps_services/SPInternVacancies.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>