SP.Intern.Automations/Service References/SPeCallWebService/eCall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="eCallWebservice" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="eCallWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows you to send fax-, voice-messages or SMS. &lt;br&gt; More information can be found in the &lt;a href="https://ecall-messaging.com/schnittstellen-und-dokumente/webservice/" target="_blank"&gt; eCall-Help. &lt;/a&gt; &lt;br&gt;&lt;br&gt; Required fields for all basic operations: &lt;br&gt;- AccountName &lt;br&gt; - AccountPassword &lt;br&gt; - Address &lt;br&gt; - Message &lt;br&gt; </wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="eCallWebservice">
      <s:element name="SendSMSBasic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SMSCallback" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Notification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AlwaysNotification" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSBasicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSBasicResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFaxBasic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFaxBasicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFaxBasicResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxHeaderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FaxHeaderInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfAttachment" />
            <s:element minOccurs="0" maxOccurs="1" name="Notification" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TokenFields" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FileContent" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendFaxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendFaxResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendVoiceBasic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MsgLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SendDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendVoiceBasicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendVoiceBasicResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStateBasic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStateBasicResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStateBasicResult" type="tns:StatusResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponse" type="tns:Response" />
          <s:element minOccurs="0" maxOccurs="1" name="JobResponse" type="tns:JobResponseDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="JobResponseDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="JobID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JobType" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="SendState" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorState" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PointsUsed" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FinishDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSBasicSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSBasic" />
  </wsdl:message>
  <wsdl:message name="SendSMSBasicSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSBasicResponse" />
  </wsdl:message>
  <wsdl:message name="SendFaxBasicSoapIn">
    <wsdl:part name="parameters" element="tns:SendFaxBasic" />
  </wsdl:message>
  <wsdl:message name="SendFaxBasicSoapOut">
    <wsdl:part name="parameters" element="tns:SendFaxBasicResponse" />
  </wsdl:message>
  <wsdl:message name="SendFaxSoapIn">
    <wsdl:part name="parameters" element="tns:SendFax" />
  </wsdl:message>
  <wsdl:message name="SendFaxSoapOut">
    <wsdl:part name="parameters" element="tns:SendFaxResponse" />
  </wsdl:message>
  <wsdl:message name="SendVoiceBasicSoapIn">
    <wsdl:part name="parameters" element="tns:SendVoiceBasic" />
  </wsdl:message>
  <wsdl:message name="SendVoiceBasicSoapOut">
    <wsdl:part name="parameters" element="tns:SendVoiceBasicResponse" />
  </wsdl:message>
  <wsdl:message name="GetStateBasicSoapIn">
    <wsdl:part name="parameters" element="tns:GetStateBasic" />
  </wsdl:message>
  <wsdl:message name="GetStateBasicSoapOut">
    <wsdl:part name="parameters" element="tns:GetStateBasicResponse" />
  </wsdl:message>
  <wsdl:portType name="eCallSoap">
    <wsdl:operation name="SendSMSBasic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to send a SMS to a handy or swiss pager.</wsdl:documentation>
      <wsdl:input message="tns:SendSMSBasicSoapIn" />
      <wsdl:output message="tns:SendSMSBasicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFaxBasic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to send a basic fax message without attachments. &lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendFaxBasicSoapIn" />
      <wsdl:output message="tns:SendFaxBasicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to send a fax message with attachments. &lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendFaxSoapIn" />
      <wsdl:output message="tns:SendFaxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendVoiceBasic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to send a voice message to a phone. &lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:SendVoiceBasicSoapIn" />
      <wsdl:output message="tns:SendVoiceBasicSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStateBasic">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this method to check the status of a message. &lt;br&gt;</wsdl:documentation>
      <wsdl:input message="tns:GetStateBasicSoapIn" />
      <wsdl:output message="tns:GetStateBasicSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eCallSoap" type="tns:eCallSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSBasic">
      <soap:operation soapAction="eCallWebservice/SendSMSBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFaxBasic">
      <soap:operation soapAction="eCallWebservice/SendFaxBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <soap:operation soapAction="eCallWebservice/SendFax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVoiceBasic">
      <soap:operation soapAction="eCallWebservice/SendVoiceBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateBasic">
      <soap:operation soapAction="eCallWebservice/GetStateBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eCallSoap12" type="tns:eCallSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMSBasic">
      <soap12:operation soapAction="eCallWebservice/SendSMSBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFaxBasic">
      <soap12:operation soapAction="eCallWebservice/SendFaxBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFax">
      <soap12:operation soapAction="eCallWebservice/SendFax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendVoiceBasic">
      <soap12:operation soapAction="eCallWebservice/SendVoiceBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateBasic">
      <soap12:operation soapAction="eCallWebservice/GetStateBasic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eCall">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allows you to send fax-, voice-messages or SMS. &lt;br&gt; More information can be found in the &lt;a href="https://ecall-messaging.com/schnittstellen-und-dokumente/webservice/" target="_blank"&gt; eCall-Help. &lt;/a&gt; &lt;br&gt;&lt;br&gt; Required fields for all basic operations: &lt;br&gt;- AccountName &lt;br&gt; - AccountPassword &lt;br&gt; - Address &lt;br&gt; - Message &lt;br&gt; </wsdl:documentation>
    <wsdl:port name="eCallSoap" binding="tns:eCallSoap">
      <soap:address location="https://soap.ecall.ch/eCall.asmx" />
    </wsdl:port>
    <wsdl:port name="eCallSoap12" binding="tns:eCallSoap12">
      <soap12:address location="https://soap.ecall.ch/eCall.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>